<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.juansebastianquinayasguarin.pets">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="JOYITA"
        android:roundIcon="@drawable/elephantabstract"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashActivity"
            tools:ignore="WrongManifestParent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegistroActivity" />
        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfileActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".AddFavorActivity" />
        <activity android:name=".AddFavorImagenActivity" />
        <activity
            android:name=".ProtectorasActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".protectora_view" />
        <activity android:name=".protectora_view1" />
        <activity android:name=".protectora_view2" />
        <activity android:name=".protectora_view3" />
        <activity android:name=".protectora_view4" />
        <activity android:name=".protectora_view5"></activity>
    </application>

</manifest>